doctype html
html
  head
    //- Include meta data from template.cson
    each val, index in meta
      meta(name=index, content=val)
  
    //- Main CSS File 
    link(href=maincss, rel='stylesheet')
    
    //- Include variation css files from template.cson
    each variation in variations
      link(rel='stylesheet-variation', data-name=variation.name, href=variation.link, data-icon=variation.color)
  
  body
    block content
